/* add custom styles */

.playerBtn {
    width: 100%;
}

#player1Name, #player2Name {
    display: inline-block;
    width: 45%;
}


thead {
    border-bottom: 1px solid black;
    text-align: center;
}

tbody {
    text-align: center;
}